MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=vambora_penedo
MYSQL_USER=vambora
MYSQL_PASSWORD=vambora123

JWT_SECRET=vambora-penedo-secret-key-2025
NODE_ENV=development

ADMIN_EMAIL=admin@vambora.local
ADMIN_PASSWORD=admin123
ADMIN_NAME=Administrador
